# Python
__pycache__/
*.pyc

# Node
node_modules/
dist/

# venv
.venv/

# YOLO runs
backend/runs/

# Temporary training folders
backend/data/train_tmp/
backend/data/train_status.json

# Auto-labeled and user images
backend/data/user_object/images/
backend/data/user_object/labels/

# Stream cache
backend/data/stream_cache/

# Detect input sample images
backend/data/detect_input/

# Build caches
frontend/.vite/
frontend/node_modules/

# IDE
.vscode/
.idea/
